*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: $colortext;
  width: 100%;
  overflow-x: hidden;
}

// header
@mixin button-header{
  border: 1px solid $buttonback;
  background-color: $buttonback;
  border-radius: 5px;
  padding: 8px 10px;
  transition: 0.5s;
  color: $colortext;
}

 // main
@mixin button-main{
  border: 1px solid $buttonback;
  background-color: $buttonback;
  border-radius: 5px;
  padding: 8px 15px;
  transition: 0.5s;
  color: white;
}
 // section pink
@mixin title-text-section-pink{
  text-align: center;
  margin: auto;
}

@mixin img-pink{
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: auto;
}

@mixin big-img-pink{
display: flex;
justify-content: center;

}

// section white
@mixin img-big-section-white{
max-width: 768px;
}
@mixin title {
  padding: 10px 0;
  font-weight: 600;
}
@mixin text{
  padding: 10px 0;
  font-size: 20px;
}
@mixin link{
  color: #30488F;
  padding: 10px 0;
  margin-left: 0;
  font-size: 20px;
}

@mixin text-box{
  max-width: 628px;
  margin: 35px auto;
  padding: 20px 20px 20px 40px;
  border: 1px solid white;
  border-radius: 7px;
  line-height: 1.5;
  font-size: 16px;
}

@mixin button-fixed{
  position: fixed;
  bottom: 10px;
  right: 18px;
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
