*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'HarmoniaSansProCyr-SemiBd';
  color: #58402c;
}

 // main

 // section pink


@mixin title-text-section-pink{
  text-align: center;
  margin: auto;
  color: #58402c;
  font-weight: 600;
  // font-size: 28px;ATTENZIONE FONT SIZE

}

@mixin img-pink{
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: auto;
}

@mixin big-img-pink{
display: flex;
justify-content: center;

}

// section white
@mixin img-big-section-white{
max-width: 768px;
}
@mixin title {
  padding: 10px 0;
  font-weight: 600;
}
@mixin text{
  padding: 10px 0;
  font-size: 20px;
}
@mixin link{
  color: #30488F;
  padding: 10px 0;
  margin-left: 0;
  font-size: 20px;
}

@mixin text-box{
  max-width: 628px;
  margin: 35px auto;
  padding: 20px 20px 20px 40px;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  background: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
}

@mixin button-fixed{
  position: fixed;
  bottom: 10px;
  right: 18px;
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
