div.container-footer{
  display: flex;
  width: 80%;
  margin: auto;
  text-shadow: none;
  padding-top: 80px;
  padding-bottom: 40px;
  div.left-footer{
   display: flex;
   padding-right: 60px;
   width: 400px;
     img{
      width: 80px;
      padding-right: 10px;
     }
     span,a{
       margin: 0;
      font-weight: 600;
      font-size: 18px;
     }
     a{
       color: blue;
     }
  }
  div.nav-footer {
    width: 120px;
     ul,li,a{
       margin: 15px 0px;
       font-size: 14px;
       &:hover{
        color: #30488F;
       }
     }
     h4{
       font-size: 18px;
     }

  }
}

.button-footer i{
  @include button-fixed;
}

.button-footer:hover {
  cursor: pointer;
}
