.container-header{
  height: 70px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
  display:flex;
  align-items: center;
  margin-right: 240px;
}

.nav-bar{
  display: flex;
}

ul, li, a {
  margin: 0 15px;
  list-style-type: none;
  text-decoration: none;
}
