header{
  background-color: $background;

}

.container-header{
  height: 70px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
  display:flex;
  align-items: center;
  margin-right: 240px;
}

.logo-image > img{
  max-width: 180px;
}


.nav-bar{
  display: flex;
  align-items: center;
}

.nav-bar > li{
  font-size: 14px;
}

ul, li, a {
  margin: 0 15px;
  list-style-type: none;
  text-decoration: none;
  color: $colortext;

}

button{

  @include button-header;
}

button:hover{
  border-color: blue;
  background-color: blue;
  color: white;
  cursor: pointer;
}

hr{
  width: 80%;
  margin: auto;
}
