header{
  background-color: $background;
  position: fixed;
  width: 100%;
  position: relative;
}

.container-header{
  height: 70px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
  display:flex;
  align-items: center;
  margin-right: 240px;
}

.logo-image > img{
  max-width: 180px;
}


.nav-bar{
  display: flex;
  align-items: center;
}

.nav-bar > li{
  font-size: 14px;
}

ul, li, a {
  margin: 0 15px;
  list-style-type: none;
  text-decoration: none;
  color: $colortext;

}

button{

  @include button-header;
}

button:hover{
  border-color: blue;
  background-color: blue;
  color: white;
  cursor: pointer;
}

hr{
  width: 80%;
  margin: auto;
}

// dropdown menu

.dropdown-content{
  display: none;
  position: absolute;
  top: 60px;
  background-color: #040F0F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: $colortext;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #040F0F;
}

.nav-bar:hover .dropdown-content {
  display: block;
}
