div.container-pink{
  padding-top: 100px;
  background-color: $background;
  @include title-text-section-pink;
  div.title-pink{
    padding: 80px 0;
  }

  div.img-pink{
    padding-top: 80px;
    @include img-pink;

  }
  div.picture > img, p{
    max-height: 100px;
    max-width: 200px;
    text-align: center;
    padding: 12px 0;

  }
  div.big-img-pink{
    padding: 80px 0;
    @include big-img-pink;
    img{
      max-width: 250px;
    }
  }
}
#big-container{
  padding-top: 80px;
  div.container-white-left-0{
    padding-bottom: 140px;
    display: flex;
    justify-content: flex-start;
    margin-left: -110px;
    div.image-section-white > img{
      @include img-big-section-white;
    }
    div.text-white-section{
      padding-left:25px;
      h2{
        @include title;

      }
      p{
        @include text;

      }
      a,i{
        @include link;
      }
      div.imge-white-under{
        text-align: center;
        margin-left: 58px;
        padding-top: 100px;
        img{
          max-width: 270px;
        }
      }
    }
  }
  div.container-white-right-0{
    padding-bottom: 140px;
    display: flex;
    justify-content: flex-end;
    margin-right: -100px;

    div.image-section-white > img{
      @include img-big-section-white;
    }
    div.text-white-section{
      padding-right: 25px;
      h2{
        @include title;

      }
      p{
        @include text;

      }
      a,i{
        @include link;
      }
      div.imge-white-under{
        text-align: center;
        margin-left: 58px;
        padding-top:  80px;
        img{
          max-width: 270px;
        }
      }
    }
  }
}
div.container-pink-box-white{
  padding-top: 80px;
  padding-bottom: 40px;
  display: block;
  background-color: $background;
}
div.center-title{
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

div.box-white{
    @include text-box;
  }
  div.img-box{
    display: flex;
    padding-top: 10px;
    img{
      width: 40px;
      border: 100%;
    }
    p{
      font-size: 12px;
      padding-left: 5px;
    }
}

div.button-section-pink{
  text-align: center;
}

div.button-section-pink > button{
   margin: 14px 0;
  @include button-main;
   &:hover{
     background-color: #000066;
     color: white;
     cursor: pointer;
   }
}
div.button-section-pink > span{
  color: lightgrey;
  padding: 0 10px;
}

div.button-section-pink > p{
  font-size: 12px;
}
