div.container-pink{
  background-color: $background;
  @include title-text-section-pink;

  div.img-pink{
    @include img-pink;

  }
  div.picture > img, p{
    max-height: 100px;
    max-width: 200px;
    text-align: center;

  }
  div.big-img-pink{
    @include big-img-pink;
    img{
      max-width: 250px;
      max-height: 250px;
    }
  }
}
#big-container{
  div.container-white-left-0{
    display: flex;
    justify-content: flex-start;
    margin-left: -110px;
    div.image-section-white > img{
      @include img-big-section-white;
    }
    div.text-white-section{

      h2{
        @include title;

      }
      p{
        @include text;

      }
      a,i{
        @include link;
      }
      div.imge-white-under{
        text-align: center;
        margin-left: 58px;
        margin-top: 42px;
        img{
          max-width: 270px;
        }
      }
    }
  }
  div.container-white-right-0{
    display: flex;
    justify-content: flex-end;
    margin-right: -100px;

    div.image-section-white > img{
      @include img-big-section-white;
    }
    div.text-white-section{

      h2{
        @include title;

      }
      p{
        @include text;

      }
      a,i{
        @include link;
      }
      div.imge-white-under{
        text-align: center;
        margin-left: 58px;
        margin-top: 42px;
        img{
          max-width: 270px;
        }
      }
    }
  }
}
div.container-pink-box-white{
  display: block;
  text-align: center;
  background-color: $background;
  @include title-text-section-pink;
  div.box-white{
    @include text-box;
  }

}
